/* Start Box */
.d-flex {
  display: flex;
}
.align-center {
  align-items: center;
}
/* End Box */
/* Start Padding + Margin */
.p-10 {
  padding: 10px;
}
.p-15 {
  padding: 15px;
}
.p-20 {
  padding: 20px;
}
.m-20 {
  margin: 20px;
}
.mt-0 {
  margin-top: 0;
}
/* End Padding + Margin */
/* Start Color */
.bg-white {
  background-color: #fff;
}
.c-black {
  color: #000;
}
/* End Color */
/* Start Position */
.p-relative {
  position: relative;
}
/* End Position */
/* Start Font */
.txt-c {
  text-align: center;
}
.fs-14 {
  font-size: 14px;
}
/* End Font */
/* Start Border */
.rad-6 {
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.rad-10 {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.border-c {
  border: 1px solid #CCC;
}
/* End Border */
/* Start Compononts */
.between-flex {
  display: flex; 
  align-items: center; 
  justify-content: space-between;
}
/* End Compononts */
.w-full {
  width: 100%;
}



