:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f5930b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --gray-color: #888;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0; 
  font-family: "Open Sans", sans-serif;
}
*:focus {
  outline: none;
}
::selection {
  background-color: var(--blue-color); 
  color: #fff;
}
a {
  text-decoration: none;
}
ul {
  list-style: none; 
  padding: 0;
}
i::before {
  font-weight: 900;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background-color: #fff;
}
::-webkit-scrollbar-thumb {
  background-color: var(--blue-color);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--blue-alt-color);
}
.page {
  background-color: #F1F5F9; 
  min-height: 100vh;
}
/* Start Sidebar */
.sidebar {
  width: 250px; 
  box-shadow: 0 0 10px #ddd;
}
.sidebar > h3 {
  margin-bottom: 50px;
}
.sidebar > h3:nth-of-type(2) {
  display: none;
}
.sidebar > h3::before, 
.sidebar > h3::after {
  content: '';
  position: absolute;  
  left: 50%;
  transform: translateX(-50%);
  background-color: #000;
}
.sidebar > h3::before {
  width: 80px;
  height: 2px;
  bottom: -20px;
}
.sidebar > h3::after {
  /* -9px Because The Circle Height Is 20px And The Line Is 2px, Will Last 18px, 9px For Top, 9px For Bottom */
  bottom: -29px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 4px solid #fff;
}
.sidebar li a {
  transition: 0.3s; 
  margin-bottom: 5px;
}
.sidebar li a:hover, 
.sidebar li a.active {
  background-color: #f6f6f6;
}
.sidebar li a span {
  font-size: 14px; 
  margin-left: 10px;
}
@media (max-width: 767px) {
  .sidebar {
    width: 58px; 
    padding: 10px;
  }
  .sidebar > h3 {
    font-size: 13px; 
    margin-bottom: 15px;
  }
  .sidebar > h3:first-of-type {
    display: none;
  }
  .sidebar > h3:nth-of-type(2) {
    display: block
  }
  .sidebar > h3::before, 
  .sidebar > h3::after {
    display: none;
  }
  .sidebar li a span {
    display: none;
  }
}
/* End Sidebar */
/* Start Content */
.content {
  overflow: hidden;
}
.head .search::before {
  content: '\f002';
  font-family: var(--fa-style-family-classic);
  font-weight: 900;
  position: absolute; 
  left: 15px; 
  top: 50%; 
  transform: translateY(-50%);
  font-size: 14px;
  color: var(--gray-color);
}
.head .search input {
  margin-left: 5px;
  padding-left: 30px;
  width: 160px;
  transition: width .3s;
}
.head .search input:focus {
  /* Not Working Becuase You Set *:focus To Outline: none; */
  /* outline-color: #ddd; */
  border-color: #ddd;
  width: 200px;
}
.head .search input:focus::placeholder {
  opacity: 0; 
  /* You Can Set Color To Transparent */
}
.head .notification i::before {
  font-weight: 400;
}
.head .notification::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  top: -5px;
  right: -5px;
  border-radius: 50%;
  background-color: var(--red-color);
}
.head .icons img {
  width: 32px; 
  height: 32px; 
  margin-left: 15px;
}
.page h1 {
  margin: 20px 20px 40px;
}
.page h1::before, 
.page h1::after {
  content: ''; 
  height: 3px; 
  position: absolute; 
  bottom: -10px; 
  left: 0;
}
.page h1::before {
  background-color: #fff; 
  width: 120px;
}
.page h1::after {
  background-color: #000;
  width: 40px; 
}
.wrapper {
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  margin: 0 20px;
}
@media (max-width: 767px) {
  .wrapper {
    grid-template-columns: minmax(200px, 1fr);
    margin: 0 10px; 
    gap: 10px;
  }
}
/* End Content */
/* Start Welcome Widget */
.welcome {
  overflow: hidden;
}
.welcome .intro img {
  width: 200px; 
  margin-bottom: -10px;
}
.welcome .avatar {
  width: 64px;
  height: 64px;
  margin-left: 20px;
  margin-top: -32px;
  border: 2px solid #fff;
  padding: 2px;
  border-radius: 50%;
  box-shadow: 0 0 5px #ddd;
}
.welcome .body {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.welcome .body > div {
  flex: 1; 
}
.welcome .visit {
  margin: 0 15px 15px auto; 
  transition: .3s;
}
.welcome .visit:hover {
  background-color: var(--blue-alt-color);
}
@media (max-width: 767px) {
  .welcome .intro {
    padding-bottom: 30px; 
  }
  .welcome .avatar {
    margin-left: 0;
  }
  .welcome .body > div:not(:last-child) { 
    margin-bottom: 20px;
  }
}
/* End Welcome Widget */
/* Start Quick Draft Widget */
.quick-draft textarea {
  resize: none;
  min-height: 180px;
}
.quick-draft input:first-child {
  color: #000;
}
.quick-draft .save {
  transition: .3s;  
  margin-left: auto;
  cursor: pointer;
}
.quick-draft .save:hover {
  background-color: var(--blue-alt-color);
}
/* End Quick Draft Widget */
/* Start Targest */
.targets .target-row .icon {
  width: 80px;
  height: 80px;
  margin-right: 15px;
}
.targets .details {
  flex: 1;
}
.targets .details .progress {
  height: 4px;
}
.targets .details .progress > span {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}
.targets .details .progress > span span {
  position: absolute;
  bottom: 26px;
  /* Because The Width Of The Shape is 32px */
  right: -16px;
  color: #fff;
  padding: 2px 5px;
  border-radius: 6px;
  font-size: 13px;
}
.targets .details .progress > span span::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -10px;
  transform: translateX(-50%);
  border: 5px solid;
  border-color: transparent;
}
.targets .details .progress > .blue span::before {
  border-top-color: var(--blue-color);
}
.targets .details .progress > .orange span::before {
  border-top-color: var(--orange-color);
}
.targets .details .progress > .green span::before {
  border-top-color: var(--green-color);
}
.blue .icon, 
.blue .progress {
  background-color: rgb(0 117 255 / 20%);
}
.orange .icon, 
.orange .progress {
  background-color: rgb(245 158 11 / 20%)
}
.green .icon, 
.green .progress {
  background-color: rgb(34 197 94 / 20%);
}
/* End Targest */
/* Start Tickets */
.tickets .box {
  width: calc(50% - 10px);
  border: 1px solid #CCC;
}
@media (max-width: 767px) {
  .tickets .box {
    width: 100%;
  }
}
/* End Tickets */
/* Start Latest News Widget */
.latest-news .news-row:not(:last-child) {
  padding-bottom: 20px; 
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
}
.latest-news .news-row img {
  width: 100px; 
  border-radius: 6px; 
  margin-right: 15px;
}
.latest-news .news-row .info {
  flex-grow: 1; 
}
.latest-news .news-row .info h3 {
  margin-bottom: 6px;
  font-size: 16px;
}
@media (max-width: 767px) {
  .latest-news .news-row img {
    margin-right: 0;
  }
  .latest-news .news-row .label {
    width: fit-content;
    margin: 10px auto;
  }
}
/* End Latest News Widget */
/* Start Tasks Widget */
.tasks .task-row:not(:last-child) {
  border-bottom: 1px solid #eee; 
  margin-bottom: 15px; 
  padding-bottom: 15px;
}
.tasks .done {
  opacity: .3;
}
.tasks .done .info h3, 
.tasks .done .info p {
  text-decoration: line-through;
}
.tasks .task-row .delete {
  transition: 0.3s;
  cursor: pointer;
}
.tasks .delete:hover {
  color: var(--red-color);
}
/* End Tasks Widget */
/* Start Latest Uploads Widget */
.latest-uploads ul li img {
  width: 40px; 
  height: 40px;
}
.latest-uploads ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}
/* End Latest Uploads Widget */
/* Start Last Project Progress Widget */
.last-project ul::before {
  content: '';
  width: 2px;
  height: 100%;
  position: absolute;
  background-color: var(--blue-color);
  left: 11px;
}
.last-project ul li::before {
  content: '';
  width: 20px;
  height: 20px;
  margin-right: 15px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #fff;
  outline: 2px solid var(--blue-color);
  z-index: 1;
}
.last-project ul .done::before {
  background-color: var(--blue-color);
}
.last-project ul .current::before {
  animation: change-color 0.8s linear infinite alternate; 
}
.last-project img {
  position: absolute; 
  width: 160px; 
  right: 0; 
  bottom: 0; 
  opacity: .1;
}
/* End Last Project Progress Widget */
/* Start Remainders Widget */
.remainders ul li .key {
  width: 15px; 
  height: 15px;
}
.remainders ul li > .blue {
  border-left: 2px solid var(--blue-color);
}
.remainders ul li > .green {
  border-left: 2px solid var(--green-color);
}
.remainders ul li > .orange {
  border-left: 2px solid var(--orange-color);
}
.remainders ul li > .red {
  border-left: 2px solid var(--red-color);
}
/* End Remainders Widget */
/* Start Latest Post Widget */
.latest-post .avatar {
  width: 48px; 
  height: 48px;
}
.latest-post .post-content {
  line-height: 1.8;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
  text-transform: capitalize;
  min-height: 140px;
}
.latest-post .post-stats i::before {
  font-weight: 400;
}
/* End Latest Post Widget */
/* Start Social Media Stats */
.social-media .box {
  padding-left: 70px;
}
.social-media .box i {
  position: absolute; 
  left: 0; 
  top: 0; 
  width: 52px;
  transition: 0.3s;
}
.social-media .box i:hover {
  transform: rotate(5deg);
}
.social-media .twitter {
  background-color: rgb(29 161 242 / 20%);
  color: #1da1f2;
}
.social-media .twitter i, 
.social-media .twitter a {
  background-color: #1da1f2;
}
.social-media .facebook {
  background-color: rgb(24 119 242 / 20%);
  color: #1da1f2;
}
.social-media .facebook i, 
.social-media .facebook a {
  background-color: #1877f2;
}
.social-media .youtube {
  background-color: rgb(255 0 0 / 20%);
  color: #ff0000;
}
.social-media .youtube i, 
.social-media .youtube a {
  background-color: #f00;
}
.social-media .linkedin {
  background-color: rgb(0 119 181 / 20%);
  color: #0077b5;
}
.social-media .linkedin i, 
.social-media .linkedin a {
  background-color: #0077b5;
}
/* End Social Media Stats */
/* Start Projects Table */
.projects .responsive-table {
  overflow-x: auto;
}
.projects table {
  min-width: 1000px;
  border-spacing: 0;
}
.projects table td {
  padding: 15px;
  transition: .3s; 
}
.projects table thead td {
  background-color: #eee; 
  font-weight: bold;
}
.projects table img {
  width: 32px; 
  height: 32px; 
  padding: 2px; 
  border-radius: 50%; 
  background-color: #fff;
}
.projects table img:not(:first-child) {
  margin-left: -20px;
}
.projects table tr td {
  border-left: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.projects table tr td:last-child {
  border-right: 1px solid #eee;
}
.projects table tr:hover td {
  background-color: #faf7f7;
}
/* End Projects Table */
/* Start Settings */
.settings-page {
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}
@media (max-width: 767px) {
  .settings-page {
    /* Not repeat(auto-fill) Because It's One Single Column */
    grid-template-columns: minmax(100px, 1fr);
    margin-left: 10px; 
    margin-right: 10px; 
    gap: 10px;
  }
}
.settings-page .close-message {
  border: 1px solid #ccc; 
  resize: none; 
  min-height: 150px;
}
.settings-page :disabled {
  cursor: no-drop; 
  background-color: #f0f4f8; 
  color: #bbb;
}
.settings-page .email {
  display: inline-flex;
  width: calc(100% - 80px); 
}
.settings-page .sec-box:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.settings-page .social-boxes > div {
  overflow: hidden;
  border: 1px solid #ddd;
}
.settings-page .social-boxes input {
  background-color: #f6f6f6; 
  color: #000;
}
.settings-page .social-boxes > div i {
  width: 40px; 
  height: 40px; 
  background-color: #f6f6f6; 
  border-right: 1px solid #ddd;
  transition: .3s; 
  font-weight: 900; 
}
.settings-page .social-boxes > div:focus-within i {
  color: #000;
}
.settings-page .widgets-control .control input {
  -webkit-appearance: none; 
  appearance: none;
}
.settings-page .widgets-control .control label {
  padding-left: 30px; 
  cursor: pointer; 
  position: relative;
}
.settings-page .widgets-control .control label::before, 
.settings-page .widgets-control .control label::after {
  position: absolute;
  left: 0; 
  top: 50%; 
  transform: translateY(-50%); 
  border-radius: 4px;
}
.settings-page .widgets-control .control label::before {
  content: ''; 
  width: 14px; 
  height: 14px; 
  border: 2px solid var(--gray-color);
}
.settings-page .widgets-control .control input + label::after {
  content: '\f00c';
  font-family: var(--fa-style-family-classic);
  font-weight: 900;
  background-color: var(--blue-color);
  color: #fff;
  font-size: 12px;
  width: 18px;
  height: 18px;
  display: grid;
  place-items: center;
  transform: translateY(-50%) scale(0) rotate(360deg); 
  transition: 0.3s;
}
.settings-page .widgets-control .control input:checked + label::after {
  transform: translateY(-50%) scale(1);
}
.settings-page .backup-control .control input {
  -webkit-appearance: none; 
  appearance: none;
}
.settings-page .backup-control .control label {
  padding-left: 30px; 
  position: relative; 
  cursor: pointer;
}
.settings-page .backup-control .control label::before,
.settings-page .backup-control .control label::after {
  content: '';
  position: absolute; 
  left: 0; 
  top: 50%; 
  transform: translateY(-50%);
  border-radius: 50%;
}
.settings-page .backup-control .control label::before {
  width: 18px; 
  height: 18px; 
  border: 2px solid var(--blue-color);
}
.settings-page .backup-control .control label::after {
  width: 12px;
  height: 12px;
  left: 5px;
  background-color: var(--blue-color);
  transform: translateY(-50%) scale(0);
  transition: .3s;
}
.settings-page .backup-control .control input:checked + label::after {
  transform: translateY(-50%) scale(1);
}
.settings-page .backup-control .servers {
  padding-top: 20px; 
  border-top: 1px solid #eee;
}
@media (max-width: 767px) {
  .settings-page .backup-control > .servers {
    flex-direction: column;
  }
}
.settings-page .backup-control .servers input {
  -webkit-appearance: none; 
  appearance: none;
}
.settings-page .backup-control .servers .server {
  border: 2px solid #eee;
}
.settings-page .backup-control .servers .server label {
  cursor: pointer; 
}
.settings-page .backup-control .servers input:checked + .server {
  border-color: var(--blue-color);
  color: var(--blue-color);
}
/* End Settings */
/* Start Animation */
@keyframes change-color {
  0% {
    background-color: #fff;
  }
  100% {
    background-color: var(--blue-color);
  }
}
/* End Animation */


